In [179]:
import numpy as np
from datetime import datetime as dt
import pandas as pd, datetime as dt

In [116]:
cd C:\Users\USER\OneDrive\Documents\GitHub\Datacracy_scala_hackathon\data

C:\Users\USER\OneDrive\Documents\GitHub\Datacracy_scala_hackathon\data

In [267]:
user = pd.read_csv('user_processed.csv',sep=',')
listening = pd.read_csv('listening_processed.csv',sep=',')
order = pd.read_csv('order_processed.csv',sep=',')
clustering = pd.read_csv('clustering_processed.csv',sep=',')

# # Processing data

In [269]:
# change column name
order = order.rename(columns = {"OrderID (PK)": "orderID", "Transaction Date" : "transaction_date","UserID (FK)" : "userID", "Bill Type": "bill_type", "Total Amount": "total_amount" })
clustering = clustering.rename(columns = {"User_ID (FK)": "userID", "Type_user": "type_user", "MainCluster_ID" : "main_cluseringID", "MainCluster_Description" : "main_clustering_description"})
listening = listening.rename(columns = {"PlaylistID (PK)": "playlistID", "Playlist Name":"playlist_name", "Category":"cat", "Sub Category" :"sub_cat", "Playlist Type" :"palylist_type","Playlist Duration (min)": "playlist_duration","Actual Duration (min)":"actual_duation","UserID (FK)":"userID", "Listening Time":"listening_time", "Listening Date" :"listening_date", "Listening Datetime":"listening_datetime"})
user = user.rename(columns = {"UserID (PK)":"userID", "VIP hay Free":"user_type", "Gender":"gender", "Year of Birth":"year_of_birth","Age Range": "age_range", "Age":"age", "Region": "region","Operation Systems":"operation_system","Registration Date":"registration_date", "Total Listerning":"total_listening", "Total Listening Time (Min)":"total_listening_time",   })

# change date time
# xu li datetime
order.transaction_date = pd.to_datetime(order['transaction_date'], format='%Y-%m-%d')
user.registration_date = pd.to_datetime(user['registration_date'], format='%Y-%m-%d')
listening.listening_datetime = pd.to_datetime(listening['listening_datetime'], format='%Y-%m-%d')

# change date by weekly
def adding_by_week(df, date_field):
    # df["by_week"] = df[[date_field]].copy()
    # df.resample('W-Mon', on=date_field).sum().reset_index().sort_values(by=date_field)
    # order1.resample('W-Mon', on='transaction_date').sum().reset_index().sort_values(by='transaction_date')
    df['by_week'] = df.apply(lambda row: row[date_field] - dt.timedelta(days=row[date_field].weekday()), axis=1)
    df = df['by_week'].groupby(df['by_week']).count()

adding_by_week(order, "transaction_date")
adding_by_week(user, "registration_date")
adding_by_week(listening, "listening_datetime")

In [262]:
## fillna for the user Table

user.operation_system = user.operation_system.fillna('none')
user["gender"] = user.gender.replace("no information","none")
user["gender"] = user.gender.replace("other","none")

## add some features related to time of the listening Table

listening['hour_listening'] = listening.listening_datetime.dt.hour
listening['dayofweek'] = listening['listening_datetime'].dt.dayofweek

listening["timepoint_of_the_day"] = listening.hour_listening.apply(lambda x : 
                                                             "late night" if x < 4 else
                                                             "early morning" if x < 7 else
                                                             "morning" if x < 11 else
                                                             "early afternoon" if x < 16 else
                                                             "afternoon" if x < 18 else
                                                             "evening"
                                                            )

listening['dayofweek'] =listening.dayofweek.apply(lambda x :  "Mon" if x == 0 else
                                                             "Tue" if x ==1 else
                                                             "Wed" if x ==2 else
                                                             "Thu" if x == 3 else
                                                             "Fri" if x == 4 else
                                                             "Sat" if x == 5 else
                                                             "Sun" 
                                                            )

listening['Workingday'] = listening["dayofweek"].apply(lambda x : 0 if x == 'Sun' or x == 'Sat' else 1)

### Tập trung phân tích nhóm paid user - high value (tăng độ engagement)
- Kèm theo 1 con số dẫn chứng của Mckegin XXX về việc giữ chân khách hàng cũ
- Process tập data lại dựa trên 3 nhóm này thôi

In [280]:
# chuyển qua dùng tập paid
user.head(3)

,userID,user_type,gender,year_of_birth,age_range,age,region,operation_system,registration_date,total_listening,total_listening_time,by_week
0,86229,free,male,NaN,No information,NaN,VN,android,2020-11-27,218,4151.3,2020-11-23
1,48053,free,male,1995.0,25 - 34,26.0,VN,ios,2020-08-24,19,278.6,2020-08-24
2,46340,free,male,1988.0,25 - 34,33.0,VN,website,2020-08-19,28,170.5,2020-08-17

In [284]:
user_money = pd.merge(user,total_amount, how='left',left_on='userID', right_on='userID')
total = pd.merge(clustering,user_money, how='left',left_on='userID', right_on='userID')
total.head()

,userID,type_user,main_cluseringID,main_clustering_description,user_type,gender,year_of_birth,age_range,age,region,operation_system,registration_date,total_listening,total_listening_time,by_week,oderID,total_amount
0,40834,free,1,Hibernating,free,no information,NaN,No information,NaN,QT,ios,2020-07-01,2,8.7,2020-06-29,NaN,NaN
1,40854,free,1,Hibernating,free,female,1999.0,18 - 24,22.0,VN,website,2020-07-01,444,20988.0,2020-06-29,NaN,NaN
2,40876,free,1,Hibernating,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,3,0.8,2020-06-29,NaN,NaN
3,40883,free,1,Hibernating,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,5,2.9,2020-06-29,NaN,NaN
4,40891,free,1,Hibernating,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,13,71.5,2020-06-29,NaN,NaN

In [296]:
paid_user = clustering[clustering.type_user == 'paid']
list_hv_paid = ['Loyal Users','Potential Users','New Paid Users']
hv_paid = paid_user.loc[paid_user.main_clustering_description.isin(list_hv_paid)]
hv_paid

       userID type_user  main_cluseringID main_clustering_description
24820   40843      paid                 5              New Paid Users
24821   41955      paid                 5              New Paid Users
24822   44112      paid                 5              New Paid Users
24823   45239      paid                 5              New Paid Users
24824   45647      paid                 5              New Paid Users
...       ...       ...               ...                         ...
27447   98716      paid                 7                 Loyal Users
27448  101492      paid                 7                 Loyal Users
27449  102073      paid                 7                 Loyal Users
27450  103669      paid                 7                 Loyal Users
27451  106406      paid                 7                 Loyal Users

[1703 rows x 4 columns]

## User cases:
Dựa trên đầu sách đã đọc gần nhất => recommend đầu sách tiếp theo cho ng đó
Các cách làm
1. Input là userID (thuộc high value paid user)
2. Cho ra nhóm cluster mà user này thuộc - cho ra cuốn sách cuối cùng mà user này nghe
3. Cho ra bảng thông tin liên quan về các loại sách với nhau
4. Từ cuốn sách cuối cùng mà ng này đọc - recommend cho cuốn sách có lift cao tương tự

### tạo các bảng market basket
Các bước cần làm,
làm trước cho total table sau đó làm riêng cho từng cluster
- tạo dòng đơn hàng và sản phẩm (row là userID, column là playlist)
- biến giá trị thành 0 và 1
- lọc ra những ng nghe từ 2 cuốn trở lên
- ra table frequently (để ra support của mỗi cuốn sách)
- tính ra bảng mỗi liên hệ giữa các sản phẩm với nhau

In [301]:
# biến thành bảng basket_table trước, sau đó lọc paid user ra
basket = listening.groupby(['userID','playlist_name'])['actual_duation'].sum().unstack().reset_index().fillna(0).set_index('userID')
basket

playlist_name,Bé Gấu 5 Tuổi Đã Dạy Tôi Những Gì,Kinh Vu Lan Bồn,Triết - 101 Đoá Sen,Triết - Trí Tuệ Hoan Hỷ,Triết - Đức Phật Thuyết Giảng Về Tánh Không Và Vô Ngã,Đồng Dao Cho Bé 2,Đồng Dao Cho Bé 3,"""Phúc"" Nuôi Dạy Con",#HOHATUTA Học hành và trưởng thành cùng Hà Anh,"10 Bí Quyết Của Các MC, Diễn Giả",...,Độc Đáo TV - Tin tức hàng ngày,Đội Thiếu Niên Du Kích Thành Huế,Đội Thiếu Niên Du Kích Đình Bảng,Đội Thiếu Niên Tình Báo Bát Sắt,Đột Phá Tư Duy Thương Hiệu,Đừng Bao Giờ Từ Bỏ Ước Mơ,Đừng Mơ Sói Ạ !,Đừng để mất bò,Ưu Đãi Đặc Biệt,Ứng Dụng Thành Công NLP
userID,,,,,,,,,,,,,,,,,,,,,
40834,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40839,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107209,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [273]:
order_df = order

In [275]:
order_df["orderID"].count()

3575

In [258]:
total_order = order_df["orderID"].count()
# order_summary = order_df.groupby(["main_clustering_description"]).agg({"total_amount":'sum',"high_value":"sum"})
# order_summary["percent"] = order_summary["high_value"].apply(lambda x: x.count()/ total_order *100)
# order_summary.head()

KeyError: 'orderID'