In [23]:
import pandas as pd
import numpy as np

In [26]:
cd C:\Users\USER\OneDrive\Documents\GitHub\Datacracy_scala_hackathon\data

C:\Users\USER\OneDrive\Documents\GitHub\Datacracy_scala_hackathon\data

In [36]:
user = pd.read_csv('user_processed.csv',sep=',')

In [3]:
user.head()

,UserID (PK),VIP hay Free,Gender,Year of Birth,Age Range,Age,Region,Operation Systems,Registration Date,Total Listerning,Total Listening Time (Min)
0,86229,free,male,NaN,No information,NaN,VN,android,2020-11-27,218,4151.3
1,48053,free,male,1995.0,25 - 34,26.0,VN,ios,2020-08-24,19,278.6
2,46340,free,male,1988.0,25 - 34,33.0,VN,website,2020-08-19,28,170.5
3,66659,free,male,1992.0,25 - 34,29.0,VN,website,2020-10-22,345,6721.4
4,59396,free,male,NaN,No information,NaN,VN,android,2020-09-29,23,52.5

In [17]:
len(set(list(user['UserID (PK)'])))

66146

In [22]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66146 entries, 0 to 66145
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   UserID (PK)                 66146 non-null  int64
 1   VIP hay Free                66146 non-null  object
 2   Gender                      66146 non-null  object
 3   Year of Birth               9745 non-null   float64
 4   Age Range                   66146 non-null  object
 5   Age                         9745 non-null   float64
 6   Region                      66146 non-null  object
 7   Operation Systems           50320 non-null  object
 8   Registration Date           66146 non-null  object
 9   Total Listerning            66146 non-null  int64
 10  Total Listening Time (Min)  66146 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 5.6+ MB

In [18]:
user.dropna()

,UserID (PK),VIP hay Free,Gender,Year of Birth,Age Range,Age,Region,Operation Systems,Registration Date,Total Listerning,Total Listening Time (Min)
1,48053,free,male,1995.0,25 - 34,26.0,VN,ios,2020-08-24,19,278.6
2,46340,free,male,1988.0,25 - 34,33.0,VN,website,2020-08-19,28,170.5
3,66659,free,male,1992.0,25 - 34,29.0,VN,website,2020-10-22,345,6721.4
6,81153,free,female,1998.0,18 - 24,23.0,VN,ios,2020-11-17,23,162.7
7,93941,free,male,1999.0,18 - 24,22.0,VN,ios,2020-12-12,183,2184.2
...,...,...,...,...,...,...,...,...,...,...,...
66124,95581,free,female,2002.0,18 - 24,19.0,VN,ios,2020-12-14,33,210.6
66125,57292,free,male,1999.0,18 - 24,22.0,VN,ios,2020-09-23,71,824.8
66133,106964,free,male,1994.0,25 - 34,27.0,VN,website,2020-12-31,166,1295.1
66139,51423,free,male,1999.0,18 - 24,22.0,VN,ios,2020-09-03,4,22.7
66145,86296,free,female,1992.0,25 - 34,29.0,VN,ios,2020-11-27,119,1733.8

In [37]:
listening = pd.read_csv('listening_processed.csv',sep=',')
listening.head()

,PlaylistID (PK),Playlist Name,Category,Sub Category,Playlist Type,Playlist Duration (min),Actual Duration (min),UserID (FK),Listening Time,Listening Date,Listening Datetime,Unnamed: 11
0,4529,Dạy Tiếng Anh Cho Trẻ Mầm Non,Podcast,Học ngoại ngữ,free,44.9,0.1,82846,06:05:00,03-12-2020,2020-12-03 06:05:00,NaN
1,4577,Tư Duy Tích Cực - Bạn Là Những Gì Bạn Nghĩ (Nh...,Sách nói,Hạnh phúc,vip,79.8,15.9,56112,12:49:00,30-10-2020,2020-10-30 12:49:00,NaN
2,4169,50 thiên thần của bạn: Giải phóng bản thân khỏ...,Sách nói,Tâm linh,vip,324.8,6.8,94362,00:17:00,15-12-2020,2020-12-15 00:17:00,NaN
3,4581,[Sách Tóm Tắt] Đọc Vị Bất Kỳ Ai,Sách tóm tắt,Sách tóm tắt,free,24.8,2.1,85469,23:09:00,29-11-2020,2020-11-29 23:09:00,NaN
4,4577,Tư Duy Tích Cực - Bạn Là Những Gì Bạn Nghĩ (Nh...,Sách nói,Hạnh phúc,vip,79.8,19.0,70171,21:09:00,06-12-2020,2020-12-06 21:09:00,NaN

In [48]:
order = pd.read_csv('order_processed.csv',sep=',')
order

      OrderID (PK) Transaction Date  UserID (FK) Bill Type  Total Amount
0             6706       2020-08-16        44822       VIP        199000
1             6998       2020-08-23        47128       VIP        199000
2             6927       2020-08-21        47134       VIP        199000
3             7054       2020-08-25        45972       VIP        199000
4             6929       2020-08-21        43556       VIP        199000
...            ...              ...          ...       ...           ...
3570         13029       2020-12-31       106406       VIP        199000
3571         13027       2020-12-31       102442       VIP        599000
3572         13038       2020-12-31        98510       VIP        499000
3573         13032       2020-12-31       106480       VIP        159000
3574         13040       2020-12-31        65210       VIP        159000

[3575 rows x 5 columns]

In [54]:
order.nunique()

OrderID (PK)        3376
Transaction Date     163
UserID (FK)         2638
Bill Type              3
Total Amount          19
dtype: int64

In [57]:
set(order['Bill Type'])

{'9K', 'VIP', 'XU'}

In [59]:
user_spending = order.groupby(['UserID (FK)']).sum('Total Amount')
user_spending

             OrderID (PK)  Total Amount
UserID (FK)
40843                2544         27000
40861                7707        199000
41003                9599        599000
41014               15326        398000
41057                9313        599000
...                   ...           ...
106773              12988        199000
106960              13012        159000
106971              13024        159000
106974              13018        199000
106981              13016        159000

[2638 rows x 2 columns]

In [39]:
clustering = pd.read_csv('clustering_processed.csv',sep=',')
clustering.head()

   User_ID (FK) Type_user  MainCluster_ID MainCluster_Description
0         40834      free               1             Hibernating
1         40854      free               1             Hibernating
2         40876      free               1             Hibernating
3         40883      free               1             Hibernating
4         40891      free               1             Hibernating

In [30]:
clustering.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27458 entries, 0 to 27457
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID (FK)             27458 non-null  int64
 1   Type_user                27458 non-null  object
 2   MainCluster_ID           27458 non-null  int64
 3   MainCluster_Description  27458 non-null  object
dtypes: int64(2), object(2)
memory usage: 858.2+ KB

In [29]:
clustering.groupby(['Type_user','MainCluster_Description','MainCluster_ID']).count()

                                                          User_ID (FK)
Type_user MainCluster_Description         MainCluster_ID
free      Defrost                         2                       1185
          Hibernating                     1                       3093
          Lost active user                4                       2510
          Loyal Users, Engaging Listeners 10                       427
          Loyal Users, Skimming Listeners 9                        342
          Need Attention                  3                       6196
          New User, Skimming Listeners    5                       4256
          New Users, Engaging Listeners   6                       4099
          Potential, Engaging Listeners   8                       1622
          Potential, Skimming Listeners   7                       1090
paid      Churn App Users                 1                        387
          Lost High-value                 4                        119
          Lost Users                      3                        254
          Loyal Users                     7                        552
          Need attention                  2                        175
          New Paid Users                  5                        424
          Potential Users                 6                        727

In [32]:
clustering.groupby('Type_user').count()

           User_ID (FK)  MainCluster_ID  MainCluster_Description
Type_user
free              24820           24820                    24820
paid               2638            2638                     2638

### High values user:
1. Paid: chi trả > 199.000
2. Free: nghe tb tuần >=3

=> chọn từ clustering của nhóm

In [43]:
user_process = pd.merge(clustering,user, how='left',left_on='User_ID (FK)', right_on='UserID (PK)')
user_process

,User_ID (FK),Type_user,MainCluster_ID,MainCluster_Description,UserID (PK),VIP hay Free,Gender,Year of Birth,Age Range,Age,Region,Operation Systems,Registration Date,Total Listerning,Total Listening Time (Min)
0,40834,free,1,Hibernating,40834,free,no information,NaN,No information,NaN,QT,ios,2020-07-01,2,8.7
1,40854,free,1,Hibernating,40854,free,female,1999.0,18 - 24,22.0,VN,website,2020-07-01,444,20988.0
2,40876,free,1,Hibernating,40876,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,3,0.8
3,40883,free,1,Hibernating,40883,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,5,2.9
4,40891,free,1,Hibernating,40891,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,13,71.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27453,76980,paid,3,Lost Users,76980,free,no information,NaN,No information,NaN,VN,android,2020-11-10,22,12.7
27454,78868,paid,3,Lost Users,78868,free,female,1985.0,35 - 44,36.0,VN,ios,2020-11-13,159,3441.8
27455,81001,paid,3,Lost Users,81001,free,male,1986.0,35 - 44,35.0,QT,ios,2020-11-17,61,1441.5
27456,83850,paid,3,Lost Users,83850,free,female,1985.0,35 - 44,36.0,VN,ios,2020-11-22,75,842.6
27457,61295,paid,1,Churn App Users,61295,free,no information,NaN,No information,NaN,VN,ios,2020-10-05,14,268.0

In [61]:
user_process_2 = pd.merge(user_process,user_spending, how='left',left_on='User_ID (FK)', right_on='UserID (FK)')
user_process_2

,User_ID (FK),Type_user,MainCluster_ID,MainCluster_Description,UserID (PK),VIP hay Free,Gender,Year of Birth,Age Range,Age,Region,Operation Systems,Registration Date,Total Listerning,Total Listening Time (Min),OrderID (PK),Total Amount
0,40834,free,1,Hibernating,40834,free,no information,NaN,No information,NaN,QT,ios,2020-07-01,2,8.7,NaN,NaN
1,40854,free,1,Hibernating,40854,free,female,1999.0,18 - 24,22.0,VN,website,2020-07-01,444,20988.0,NaN,NaN
2,40876,free,1,Hibernating,40876,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,3,0.8,NaN,NaN
3,40883,free,1,Hibernating,40883,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,5,2.9,NaN,NaN
4,40891,free,1,Hibernating,40891,free,no information,NaN,No information,NaN,VN,ios,2020-07-01,13,71.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27453,76980,paid,3,Lost Users,76980,free,no information,NaN,No information,NaN,VN,android,2020-11-10,22,12.7,10131.0,199000.0
27454,78868,paid,3,Lost Users,78868,free,female,1985.0,35 - 44,36.0,VN,ios,2020-11-13,159,3441.8,10588.0,199000.0
27455,81001,paid,3,Lost Users,81001,free,male,1986.0,35 - 44,35.0,QT,ios,2020-11-17,61,1441.5,1790.0,298000.0
27456,83850,paid,3,Lost Users,83850,free,female,1985.0,35 - 44,36.0,VN,ios,2020-11-22,75,842.6,10703.0,159000.0
27457,61295,paid,1,Churn App Users,61295,free,no information,NaN,No information,NaN,VN,ios,2020-10-05,14,268.0,8760.0,199000.0

In [65]:
# tao bảng user số lượng nghe, thời gian nghe
listening.groupby('UserID (FK)').count()

,PlaylistID (PK),Playlist Name,Category,Sub Category,Playlist Type,Playlist Duration (min),Actual Duration (min),Listening Time,Listening Date,Listening Datetime,Unnamed: 11
UserID (FK),,,,,,,,,,,
40834,2,2,2,2,2,2,2,2,2,2,0
40835,5,5,5,5,5,5,5,5,5,5,0
40839,60,60,60,60,60,60,60,60,60,60,0
40840,491,491,491,491,491,491,491,491,491,491,0
40842,67,67,67,67,67,67,67,67,67,67,0
...,...,...,...,...,...,...,...,...,...,...,...
107206,2,2,2,2,2,2,2,2,2,2,0
107209,4,4,4,4,4,4,4,4,4,4,0
107212,1,1,1,1,1,1,1,1,1,1,0
107217,5,5,5,5,5,5,5,5,5,5,0
107219,6,6,6,6,6,6,6,6,6,6,0